<!doctype html>

<html>
    <head>
        <!-- FIXME include in context a title -->
        <link href="public/style.css" rel="stylesheet">
        <title>MapleNow</title>
    </head>
    <body>
        <div class="container">
        {{{body}}}
    </body>
</html>
