<!doctype html>

<html>
    <head>
        <!-- <link href="/style.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width">

        <style type="text/css">
            .col-sm-2, .col-xs-6 {
                min-height: 130px;
                height: auto;
            }
            .anchor {
                min-width: 100%;
                text-align: center;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        </style>

        <title>{{{title}}}</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">MapleNow</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hair<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="hair">Style</a></li>
                                <li><a href="haircolor">Color</a></li>
                            </ul>
                        </li>
                        <li><a href="Face">Face</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="about">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div style="margin-top: 50px; margin-bottom: 75px; margin-left: 0px; margin-right: 0px;">
            {{{body}}}
        </div>

        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-footer">
                    <ul class="nav navbar-nav">
                        <li class="left"><a>MapleNow © 2017</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
