<div class="container">
    <h1>About MapleNow</h1>
    <p>I decided to make this website because I was having trouble finding lists of salon and plastic surgery listings that weren't years old or presented in a way that was easy to look through. In the future I hope to devote more time to this website so that it is a page that holds much more information.</p>
    <p><strong>Credits</strong> - I referred to <a href="https://gamerbewbs.wordpress.com/" target="_blank">Gamerbewb's Tumblr</a> for most of my listings and am working on editing them for accuracy. And of course thank you <a href="http://www.maplesimulator.com/" target="_blank">Maple Simulator</a> and its Bannedstory program for helping me make the images on this page.</p>
    <h2>About the Developer</h2>
    <p>I'm a web developer that plays on the GMS Reboot and Broa servers. I have been playing Maplestory (on and off) since 2006! If you see me around feel free to say hey!</p>
    <p>This website is running simply out of interest for the community, so consider donating through Paypal <a href="http://paypal.me/darlenez" target="_blank">here</a> to keep this page running.</p>
    <!-- FIXME include table of characters! and little server icons! -->
    <h3>Active Characters</h3>
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <img src="images/sailorcookie1.png"><br />
            <p><img src="images/reboot1.png"> <strong>SailorCookie</strong> - Hayato</p>
        </div>
    </div>
    <h3>Retired Characters</h3>
    <div class="row">
        <div class="col-sm-3 col-xs-4">
            <img src="images/darixard1.png"><br />
            <p><img src="images/broa1.png"> <strong>Darixard</strong> - Shadower</p>
        </div>
        <div class="col-sm-3 col-xs-4">
            <img src="images/mantrap1.png"><br />
            <p><img src="images/broa1.png"> <strong>Mantrap</strong> - F/P Mage</p>
        </div>
    </div>
</div>
