<div class="container">
    <h1>GMS Maplestory Plastic Surgery</h1>
    <h2>The Basics</h2>
    <p>There are currently 3 coupon options available in the cash shop to change your face.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <img src="images/vipface1.png"><br />
            <p><strong>Face Coupon (VIP)</strong> - This allows you to choose specifically which face style you want from one of the plastic surgery locations.</p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <img src="images/regface1.png"><br />
            <p><strong>Face Coupon (REG)</strong> - Randomly changes your face from one of the VIP face styles at the plastic surgery location. <!-- FIXME are there other faces offered besides the VIP ones? --></p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <img src="images/royalface1.png"><br />
            <p><strong>Royal Face Coupon</strong></p> - Faces offered by this coupon are random and selected from a pool that is updated every three weeks by Nexon. Visit the NPC Nurse Pretty in the Henesys Plastic Surgery to redeem. This is the only way that you can get these faces.</p>
        </div>
    </div>
</div>
