<div class="container">
    <h1>GMS Maplestory Hair Color</h1>
    <h2>The Basics</h2>
    <p>Use these coupons to change the color of your hair.</p>
    <!-- FIXME add more text blah blah -->
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <img src="images/vipcolor1.png"><br />
            <p><strong>Hair Color Coupon (VIP)</strong></p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <img src="images/regcolor1.png"><br />
            <p><strong>Hair Color Coupon (REG)</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <img src="images/vipmixdye1.png"><br />
        </div>
        <div class="col-sm-4 col-xs-12">
            <img src="images/mysterymixdye1.png"><br />
        </div>
    </div>
</div>
<div class="container">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Salon Locations</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">Henesys</li>
                    <li class="list-group-item">Kerning</li>
                    <li class="list-group-item">NLC</li>
                    <li class="list-group-item">Orbis</li>
                    <li class="list-group-item">Ludibrium</li>
                    <li class="list-group-item">Mu Lung</li>
                    <li class="list-group-item">Edelstein</li>
                    <li class="list-group-item">Ariant</li>
                    <li class="list-group-item">Showa</li>
                    <li class="list-group-item">Shanghai</li>
                </ul>
            </div>
        </div>
    </div>
</div>
