<div class="container">
    <h1>GMS Maplestory Hairstyles</h1>
    <h2>The Basics</h2>
    <p>There are currently 3 ways that you would purchase a coupon from the cash shop to change your hair.</p>
    <!-- FIXME include images and text for each one -->
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <img src="images/viphair1.png"><br />
            <p><strong>Hair Style Coupon (VIP)</strong> - This allows you to choose specifically which hair style you would like from one of the hair salons.</p>
        </div>
        <div class="col-sm-4 col-xs-6">
            <img src="images/reghair1.png"><br />
            <p><strong>Hair Style Coupon (REG)</strong> - Randomly changes your hair style, it includes the VIP hair styles in its pool <!-- FIXME as well as some others? Are they the only way to get these hairstyles? --></p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <img src="images/royalhair1.png"><br />
            <p><strong>Royal Hair Coupon</strong> - The hairstyles offered by this coupon are random and selected from a pool that is updated every three weeks by Nexon. Visit the NPC Big Headward in the Henesys hair salon to redeem it. This is the only way that you can get these hairstyles.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <img src="images/aprilfoolhair1.png"><br />
            <p><strong>April Fools' Day Hair Coupon</strong> - This coupon was available 3/30 - 4/5 2017 in GMS and offered a chance for players to get hairstyles that belong to the opposite gender.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Royal Hair Styles</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female Royal Hair Styles - [DATES]</strong></p>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male Royal Hair Styles - [DATES]</strong></p>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
        <!-- BEGIN HENESYS SALON -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Henesys Hair Salon</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Female VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Female REG Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Male VIP Hair Styles</strong></p>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong>Additional Male REG Hair Styles</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HENESYS -->
        <!-- BEGIN KERNING -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Kerning Hair Salon</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END KERNING -->
        <!-- BEGIN NLC -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">NLC Hair Salon</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END NLC -->
        <!-- BEGIN ORBIS -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Orbis Hair Salon</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END ORBIS -->
        <!-- BEGIN LUDIBRIUM -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Ludibrium Hair Salon</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END LUDIBRIUM -->
        <!-- BEGIN MU LUNG -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Mu Lung Hair Salon</a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END MU LUNG -->
        <!-- BEGIN EDELSTEIN -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Edelstein Hair Salon</a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END EDELSTEIN -->
        <!-- BEGIN ARIANT -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Showa Hair Salon</a>
                </h4>
            </div>
            <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END ARIANT -->
        <!-- BEGIN SHOWA -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">Ariant Hair Salon</a>
                </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END SHOWA -->
        <!-- BEGIN SHANGHAI -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">Shanghai Hair Salon</a>
                </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <!-- END SHANGHAI -->
    </div>
</div>
