<div class="container">
    <h1>GMS Maplestory Hair Color</h1>
    <h2>The Basics</h2>
    <p>Use these coupons to change the color of your hair.</p>
    <!-- FIXME add more text blah blah -->
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <img src="images/vipcolor1.png"><br />
            <p><strong>Hair Color Coupon (VIP)</strong></p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <img src="images/regcolor1.png"><br />
            <p><strong>Hair Color Coupon (REG)</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <img src="images/vipmixdye1.png"><br />
        </div>
        <div class="col-sm-4 col-xs-12">
            <img src="images/mysterymixdye1.png"><br />
        </div>
    </div>
</div>
