<div class="container">
    <h1>MapleNow</h1>
    <p>MapleNow is a website dedicated to keeping you informed with up-to-date Maplestory content.</p>
    <p>At the moment we have information on currently available hairstyles and face types and where to find them.</p>
    <h3>Updates</h3>
    <p>Last updated 4/5 - Most hairstyles are now listed, updated the royal hair styles and faces for the 4/5 cash shop update.</p>
</div>
