body {
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 75px;
    padding-bottom: 50px;
}

.container {
    width: 90%;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    width: 90%;
}

.navbar-top
.footer {
    margin: 0px;
    padding: 0px;
    width: inherit;
}

ul.navtop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.navbottom {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li.left {
    float: left;
}

li.right {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* Responds to screen resize! */
@media screen and (max-width: 350px){
    li.right, li.left {float: none;}
    ul.navtop {position: absolute;}
    body {margin-top: 200px;}
    .col {
        float: none;
        margin: 20px 0 0;
        width: 90%;
    }
}

.col {
    float: left;
    margin-left: 3%;
    min-height: 1px;
    display: block;
}

.col-3 {
    width: 20%;
}

.col-6 {
    width: 45%;
}

.col-9 {
    width: 70%;
}

.col-12 {
    width: inherit;
}
